<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>智能垂直移动工具（不是梯子）</title>
  <script src="/static/vue.js"></script>
  <script src="/static/muse-ui.js"></script>
  <link rel="stylesheet" href="/static/muse-ui.css">
  <link rel="stylesheet" href="/static/font.css">
  <link rel="stylesheet" href="/static/material-icons.css">
</head>
<body>
  <div id="app">
    <mu-appbar style="width: 100%;" color="primary">
      <mu-button icon slot="left">
        <mu-icon value="menu"></mu-icon>
      </mu-button>
      严肃电梯补完计划
      <mu-menu slot="right">
        <mu-button flat>Different Mode</mu-button>
        <mu-list slot="content">
          <mu-list-item button>
            <mu-list-item-content>
              <mu-list-item-title>Home Plan</mu-list-item-title>
            </mu-list-item-content>
          </mu-list-item>
          <mu-list-item button>
            <mu-list-item-content>
              <mu-list-item-title>WorkPlace Plan</mu-list-item-title>
            </mu-list-item-content>
          </mu-list-item>
          <mu-list-item button>
          <mu-list-item-content>
              <mu-list-item-title>Xxxxx Plan</mu-list-item-title>
          </mu-list-item-content>
          </mu-list-item>
        </mu-list>
      </mu-menu>
    </mu-appbar>
    <mu-container>
      <mu-form :model="form" class="mu-demo-form" ref="form" label-width="100">
        <mu-form-item  prop="a" label="设备名称">
          <mu-select  v-model="user.addr" full-width>
            <mu-option v-for="(option,index) in addrlist" :key="index" :label="option.name" :value="option.addr"></mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item  prop="b" label="到达楼层">
          <mu-select  v-model="user.tolevel" full-width>
            <mu-option v-for="(option,index) in level" :key="index" :label="option" :value="option"></mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item>
            <mu-button color="primary" @click="submit" class="setB">绑定</mu-button>
          </mu-form-item>
      </mu-form>
      <mu-dialog title="绑定成功" width="360" :open.sync="openSimple">
          恭喜你已经绑定成功，下次来访时可以自动导向楼层。
          <mu-button slot="actions" flat color="primary" @click="closeSimpleDialog">关闭</mu-button>
      </mu-dialog>
    </mu-container>

    <mu-bottom-nav>
      <mu-bottom-nav-item title="我的电梯"icon="home"></mu-bottom-nav-item>
      <mu-bottom-nav-item title="二维码扫描"icon="crop_free"></mu-bottom-nav-item>
      <mu-bottom-nav-item title="打开蓝牙"icon="settings_bluetooth"></mu-bottom-nav-item>
    </mu-bottom-nav>


  </div>
  <script>
  var addrlistG=[]
  var userG={
          addr: 'x1111111',
          tolevel: '7',
        }
  new Vue({
    data : {
        addrlist:addrlistG,
        level: ['1', '2', '3', '4','5', '6', '7', '8'],
        user: userG,
        form: {
          select: '',
        },
        openSimple: false
    },
    mounted () {
      this.$nextTick(function () {
        fetch("/api/getDeviceList")
        //fetch("test.json")
        .then( res => res.json())
        .then(function(json){
          for (i=json.length-1; i>= 0;i--){
            var device_name = json[i].device_name;
            var device_addr = json[i].device_addr;
            console.log(this.addrlist,this.user)
            addrlistG.unshift({"name":device_name,"addr":device_addr})
            userG.tolevel= json[i].to_level;
            userG.addr= json[i].device_addr;
            console.log(addrlistG,userG)
          }
          // console.log(json)
        })
        // console.log(111)
      })
    },
    methods: {
      submit () {
        this.$refs.form.validate().then((result) => {
          // console.log('form valid: ', result)
          // console.log(userG.addr,userG.tolevel)
          fetch("/api/setBinding?device_addr="+userG.addr+"&to_level="+userG.tolevel)
          this.openSimple = true;
        });
      },
      closeSimpleDialog () {
        this.openSimple = false;
      }
    }
  }).$mount('#app')



</script>
<style>
.mu-bottom-nav{bottom: 0;position: fixed;width:100%}
.setB{margin:6px auto !important;}

</style>

</body>
</html>
