<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>智能垂直移动工具（不是梯子）</title>
  <script src="/static/vue.js"></script>
  <script src="/static/muse-ui.js"></script>
  <link rel="stylesheet" href="/static/muse-ui.css">
  <link rel="stylesheet" href="/static/font.css">
  <link rel="stylesheet" href="/static/material-icons.css">
</head>
<body>
  <div id="app">
    <mu-appbar style="width: 100%;" color="primary">
      <mu-button icon slot="left">
        <mu-icon value="menu"></mu-icon>
      </mu-button>
      Our Elevator
      <mu-menu slot="right">
        <mu-button flat><mu-icon value="info"></mu-icon></mu-button>
        <mu-list slot="content">
          <mu-list-item button>
            <mu-list-item-content>
              <mu-list-item-title>Home Plan</mu-list-item-title>
            </mu-list-item-content>
          </mu-list-item>
          <mu-list-item button>
            <mu-list-item-content>
              <mu-list-item-title>WorkPlace Plan</mu-list-item-title>
            </mu-list-item-content>
          </mu-list-item>
          <mu-list-item button>
          <mu-list-item-content>
              <mu-list-item-title>Xxxxx Plan</mu-list-item-title>
          </mu-list-item-content>
          </mu-list-item>
        </mu-list>
      </mu-menu>
    </mu-appbar>
    <mu-container>
      <mu-form :model="form" class="mu-demo-form" ref="form" label-width="100">

        <mu-stepper :active-step="vactiveStep" orientation="vertical">
            <mu-step>
              <mu-step-label>
               Bind yor device 
              </mu-step-label>
              <mu-step-content>
                <mu-form-item  prop="a" label="Device Name">
                  <mu-select  v-model="user.addr" full-width>
                    <mu-option v-for="(option,index) in addrlist" :key="index" :label="option.name" :value="option.addr"></mu-option>
                  </mu-select>
                </mu-form-item>

                <mu-button class="demo-step-button" @click="vhandleNext" color="primary">Next</mu-button>
              </mu-step-content>
            </mu-step>
            <mu-step>
              <mu-step-label>
                Your Level
              </mu-step-label>
              <mu-step-content>
                <mu-form-item  prop="b" label="">
                  <mu-select  v-model="user.tolevel" full-width>
                    <mu-option v-for="(option,index) in level" :key="index" :label="option" :value="option"></mu-option>
                  </mu-select>
                </mu-form-item>
                <mu-button class="demo-step-button" @click="vhandleNext" color="primary">Next</mu-button>
                <mu-button flat class="demo-step-button" @click="vhandlePrev">Prev</mu-button>
              </mu-step-content>
            </mu-step>
            <mu-step>
              <mu-step-label>
                Choose your favorite.
              </mu-step-label>
              <mu-step-content>
                <mu-form-item prop="c" label="">
                    <mu-checkbox v-model="favorite" value="科技" uncheck-icon="favorite_border" checked-icon="favorite" label="TECH"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="人文" uncheck-icon="favorite_border" checked-icon="favorite" label="HUMANITY"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="艺术" uncheck-icon="favorite_border" checked-icon="favorite" label="ART"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="体育" uncheck-icon="favorite_border" checked-icon="favorite" label="SPORT"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="财经" uncheck-icon="favorite_border" checked-icon="favorite" label="FINANCIAL"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="教育" uncheck-icon="favorite_border" checked-icon="favorite" label="EDUCATION"></mu-checkbox>
                    <mu-checkbox v-model="favorite" value="娱乐" uncheck-icon="favorite_border" checked-icon="favorite" label="ENTERTAMENT"></mu-checkbox>
                </mu-form-item>
                <mu-button class="demo-step-button" @click="submit" color="primary">Finish</mu-button>
                <mu-button flat class="demo-step-button" @click="vhandlePrev">Prev</mu-button>
              </mu-step-content>
            </mu-step>
          </mu-stepper>
          <p v-if="vfinished">
            <!-- 都完成啦!<a href="javascript:;" @click="vreset">点这里</a>可以重置 -->
            Thank you for your using
          </p>

        </mu-form>
        <!-- <mu-form-item>
            <mu-button color="primary" @click="submit" class="setB">绑定</mu-button>
          </mu-form-item>

      <mu-dialog title="绑定成功" width="360" :open.sync="openSimple">
          恭喜你已经绑定成功，下次来访时可以自动导向楼层。
          <mu-button slot="actions" flat color="primary" @click="closeSimpleDialog">关闭</mu-button>
      </mu-dialog> -->
    </mu-container>

    <mu-bottom-nav>
      <mu-bottom-nav-item title="My"icon="home"></mu-bottom-nav-item>
      <mu-bottom-nav-item title="Scan"icon="crop_free"></mu-bottom-nav-item>
      <mu-bottom-nav-item title="Bluetooth"icon="settings_bluetooth"></mu-bottom-nav-item>
    </mu-bottom-nav>


  </div>
  <script>
  var addrlistG=[]
  var userG={
          addr: 'x1111111',
          tolevel: '7',
        }
  new Vue({
    data : {
        addrlist:addrlistG,
        level: ['1', '2', '3', '4','5', '6', '7', '8'],
        user: userG,
        form: {
          select: '',
        },
        openSimple: false,
        vactiveStep: 0,
        favorite:[]
    },
    mounted () {
      this.$nextTick(function () {
        fetch("/api/getDeviceList")
        //fetch("test.json")
        .then( res => res.json())
        .then(function(json){
          for (i=json.length-1; i>= 0;i--){
            var device_name = json[i].device_name;
            var device_addr = json[i].device_addr;
            console.log(this.addrlist,this.user)
            addrlistG.push({"name":device_name,"addr":device_addr})
            userG.tolevel= json[i].to_level;
            userG.addr= json[i].device_addr;
            console.log(addrlistG,userG)
          }
          // console.log(json)
        })
        // console.log(111)
      })
    },
    methods: {
      submit () {
        this.$refs.form.validate().then((result) => {
          // console.log('form valid: ', result)
          // console.log(userG.addr,userG.tolevel)
          fetch("/api/setBinding/"+userG.addr+"/user/"+userG.tolevel)
          console.log(this.favorite)
          this.openSimple = true;
          this.vactiveStep++;
        });
      },
      closeSimpleDialog () {
        this.openSimple = false;
      },
      vhandleNext () {
        this.vactiveStep++;
      },
      vhandlePrev () {
        this.vactiveStep--;
      },
      vreset () {
        this.vactiveStep = 0;
      }
    },
    computed: {
      vfinished () {
        return this.vactiveStep > 2;
      }
    }
  }).$mount('#app')



</script>
<style>
.mu-demo-form{margin-top: 20px;}
.mu-bottom-nav{bottom: 0;position: fixed;width:100%}
.setB{margin:6px auto !important;}

</style>

</body>
</html>
